@import url(banniere.css);
@import url(gauche.css);
@import url(milieu.css);
@import url(droite.css);
@import url(carte.css);
@import url(slider.css);

/* Body */
body {
    font-family: "Lato";

    /* background-image: url('../assets/background.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-color: white;

    margin: 0px;
}

body * {
    box-sizing: border-box;
}

/* Remove all paragraph margins */
body p {
    margin: 0;
}

/* Corps principal */
body section {
    margin: 0;
    float: left;
}

/* Articles */
body article:hover {
    background-color: #ddd;
}