footer {
    display: inline-block;
    width: 100%;

    box-shadow: 0 -8px 12px -6px black;
}

footer section {
    display: inline-block;
    text-align: center;
}

/* Partie SVG */
footer #svg {
    background-color: #0c3146;
    width: 100%;
    height: 400px;
    box-shadow: inset 0 -8px 12px -6px black;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer #svg > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Réseaux sociaux */
footer #réseaux {
    width: 40%;
    padding-left: 10px;
    padding-bottom: 30px;
}

footer #réseaux p, footer #map p {
    text-transform: uppercase;
    color: #039eb9;

    margin-top: 30px;
    margin-bottom: 10px;
}

footer #réseaux span {
    color: rgba(255, 255, 255, 0.541);
}

footer #réseaux img {
    height: 30px;
    width: auto;
    margin-left: 10px;
}

footer #réseaux img:hover {
    filter: brightness(200%);
}

/* Carte */
footer #map {
    width: 60%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

footer #map > div {
    display: flex;
    justify-content: center;
}

footer #map > div > div {
    position: relative;
    width: fit-content;
}

footer #map span {
    position: absolute;
}

footer #map a {
    color: rgba(255, 255, 255, 0.541);
    text-align: right;
    text-decoration: none;
}

footer #map a:hover {
    color: #039eb9;
}

footer #map #point-brehat {
    top: 30px;
    left: 165px;
}

footer #map #point-pleubian {
    top: 100px;
    left: 2px;
}

footer #map #point-lanmodez {
    top: 80px;
    left: 40px;
}

footer #map #point-lézardrieux {
    top: 150px;
    left: 20px;
}

footer #map #point-ploubazlanec {
    top: 130px;
    left: 100px;
}

/* Partie liens */
footer #liens {
    width: 100%;
    background-color: #039eb9;
}

footer #liens p, footer #liens a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    
    color: white;
    font-size: 16px;
    text-decoration: none;
 
    transition: 1s color;
}

footer #liens a:hover {
    color: gray;
}

/* Partie partenaires */
footer #partenaires {
    margin-top: 15px;
    width: 100%;
    background-color: white;
}

footer #partenaires img {
    width: auto;
    height: 50px;
    display: inline-block;
}

footer #partenaires p {
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 5px; 
}